<h1>Students</h1>
<br><a href="student_add"><Button>Add</Button></a>
<br><br><br><br>
<table border="1">
    <tr>
        <th>
            NCS
        </th>
        <th>
            Email
        </th>
    </tr>
    {% for student in students %}
        <tr>
            <td>
                {{ student.NCS }}
            </td>
            <td>
                {{ student.email }}
            </td>
            <td>
                <a href="/student_update/{{ student.NCS }}"><button>Update</button></a>
                <a href="/student_delete/{{ student.NCS }}"><button>Delete</button></a>

            </td>
        </tr>
    {% endfor %}
</table>
