{% extends 'BaseFrontOffice.html.twig' %}

{% block title %}Votre Commandes{% endblock %}

{% block content %}
{% if cmd_infos != null %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID Commande</th>
      <th scope="col">Date de création</th>
      <th scope="col">Date de Livraison</th>
      <th scope="col">Etat</th>
      <th scope="col"></th>

    </tr>
  </thead>
  <tbody>
  {% for cmd_info in cmd_infos %}
    <tr>
      <th scope="row">{{ cmd_info.commande.id }}</th>
      <th scope="row">{{ cmd_info.commande.datecreer|date('d/m/Y') }}</th>
      {% if cmd_info.commande.dateexpedirer == NULL %}
        <th scope="row">-</th>
      {% else %}
        <th scope="row">{{ cmd_info.commande.datecreer|date('d/m/Y') }}</th>
      {% endif %}
      <th scope="row">
      {% if cmd_info.commande.status == 0 %}
        En Cours de préparation
      {% elseif cmd_info.commande.status == 1 %}
        En cours de livraison 
      {% else %}
        Livré
      {% endif %}
      </th>
      <th scope="row">
        <a href="{{ path('detail_cmd_user', { 'id' : cmd_info.commande.id }) }}" class="btn btn-info btn-sm">Détail</a>
      </th>
    </tr>
  {% endfor %}
  </tbody>
  {% else %}
    <h2 class="text-danger text-center">vous n'avez pas encore de commandes</h2>
  {% endif %}
</table>


{% endblock %}
