<aside
	class="app-navbar">
	<!-- begin sidebar-nav -->
	<div class="sidebar-nav scrollbar scroll_light">

		<ul class="metismenu" id="sidebarNav">
			<li class="nav-static-title">Personal</li>
			<li>
				<a href="/admin/user">
					<i class="dashicons dashicons-products"></i>
					<span class="nav-title">Gestion des utilisateurs</span>
				</a>
				<a href="{{ path('gestion_commande')}}">
					<i class="dashicons dashicons-products"></i>
					<span class="nav-title">Gestion des commandes</span>
				</a>
				<a href="{{ path('affiche_livreurs') }}">
					<i class="dashicons dashicons-products"></i>
					<span class="nav-title">Gestion des livreurs</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar-nav -->
</aside>
